<article class="card">
  <a class="card-thumb" href="{{ article.get_absolute_url }}" tabindex="-1" aria-hidden="true">
    {% include "news/_thumb.html" with article=article variant="card" %}
  </a>
  <div class="card-text">
    <a class="card-cat" href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
    <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
    <p>{{ article.summary }}</p>
    <div class="card-meta">
      <time datetime="{{ article.published_at|date:'c' }}">{{ article.published_at|date:"j M, H:i" }}</time>
      <span>{{ article.reading_minutes }} min read</span>
    </div>
  </div>
</article>
